body{
  background-color: black;
}

h1,h2, h3 {
 color: aliceblue;
}
.container{
  background-color: black;
  border-radius: 25%;
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-style: double;
}
input{
  width: 250px;
  text-align: center;
  height: 35px;
  border-radius: 20px;
  font-size: medium;
}
button{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(122, 0, 236);

}
button:hover{
  background-color: rgb(43, 116, 226);
  color: rgb(255, 255, 255);
}